In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

In [9]:
#Having data
goma = pd.read_csv('goma.csv',sep=';', na_values='.')
goma.head(5)

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           0    Male    80   77   86   180.0    70.0     889083
1           1    Male    83   83   86     NaN     NaN     892420
2           2    Male    97  107   84   186.0    76.5     905940
3           3  Female   135  129  134   122.0    62.0     790619
4           4    Male   139  145  128   132.0    68.0     955003

In [10]:
congo = pd.read_csv('congo.csv',sep=';', na_values='.')
congo.head(5)

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

In [13]:
#One-Sample T-Test
#means of goma and congo VIQ
goma['VIQ'].mean()

107.9047619047619

In [14]:
congo['VIQ'].mean()

117.26315789473684